asttokens==2.4.1
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
colorama==0.4.6
comm==0.2.1
debugpy==1.8.1
decorator==5.1.1
exceptiongroup==1.2.0
executing==2.0.1
html5lib==1.1
idna==2.10
importlib_metadata==7.0.2
ipykernel==6.29.3
ipython==8.18.1
jedi==0.19.1
jupyter_client==8.6.0
jupyter_core==5.7.1
lxml==4.6.2
matplotlib-inline==0.1.6
mysqlclient==2.2.4
nest-asyncio==1.6.0
numpy==1.21.5
packaging==24.0
pandas==1.2.3
parso==0.8.3
pip==24.0
platformdirs==4.2.0
prompt-toolkit==3.0.43
psutil==5.9.8
pure-eval==0.2.2
Pygments==2.17.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2021.1
pywin32==306
pyzmq==25.1.2
requests==2.25.1
selenium==3.141.0
setuptools==57.4.0
six==1.15.0
soupsieve==2.2
stack-data==0.6.3
tornado==6.4
tqdm==4.62.3
traitlets==5.14.1
typing_extensions==4.10.0
urllib3==1.26.3
wcwidth==0.2.13
webdriver-manager==4.0.1
webencodings==0.5.1
xlrd==2.0.1
zipp==3.17.0
