
.mySwiper11 {
    width: 416px;
    height: 621px;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}
